
<body>
  <nav class="navbar">
    <div class="navbar-container">
      <a href="/about" class="nav-link"> <i class="fa-solid fa-house"></i> Home</a>
      <a href="/upload" class="nav-link"> <i class="fa-solid fa-upload"></i> Upload Content</a>
      <a href="/showAll" class="nav-link">  <i class="fa-solid fa-list"></i> Show All</a>
      <a href="/donateUs" class="nav-link">  <i class="fas fa-hand-holding-heart"></i> Donate</a>
      <a href="/vision" class="nav-link">  <i class="fas fa-eye"></i> Vision</a>
      <a href="/report" class="nav-link">  <i class="fas fa-exclamation-triangle"></i> Report Me</a>
      <a href="/view/reports" class="nav-link">  <i class="fas fa-receipt"></i> See reports</a>
      <%   if(!currUser){ %>
        <a href="/signup" class="nav-link">  <i class="fas fa-user-plus"></i> signup</a>
        <a href="/google" class="nav-link">  <i class="fab fa-google"></i> googleLogin</a>
        <a href="/login" class="nav-link">  <i class="fas fa-sign-in-alt"></i> login manually</a>
        <% } else{ %>
        <a href="/logout" class="nav-link">  <i class="fas fa-sign-out-alt"></i> logout</a>
         <% } %>
    </div>
  </nav>
