
<body>
  <nav class="navbar">
    <div class="navbar-container">
        <a href="/home" class="nav-link"> <i class="fa-solid fa-house"></i> Home</a>
        <a href="/upload" class="nav-link"> <i class="fa-solid fa-upload"></i> Upload Content</a>
        <a href="/showAll" class="nav-link">  <i class="fa-solid fa-list"></i> Show All</a>
        <a href="/donateUs" class="nav-link">  <i class="fas fa-hand-holding-heart"></i> Donate</a>
        <a href="/vision" class="nav-link">  <i class="fas fa-eye"></i> Vision</a>
    </div>
  </nav>
