<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="showAll.css">
       <!-- <link rel="stylesheet" href="/navbar.css" /> -->
   <link rel="stylesheet" href="/nabvar.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body> 
        <%- include("navbar")%>
    <div class="imgStyle">
    <% if(images.length == 0){ %>
        <h1> No images being uploaded yet </h1>
        <% }else{  images.forEach(image =>{ %>
                <div class="img">   
                    <img src=" <%= image.path %> " alt="Adi Yuvan foundation" >
                    <p> <b>  <%= image.originalname  %> </b> </p>
                      <p><b><i><u> <%= image.description  %> </u></i></b></p>
                </div>
      
               <%   }) }    %>
    </div>
</body>
</html>

 
   
 
 
    
  